$feature-flags: (
  ui-shell: true,
);

@import '~carbon-components/scss/globals/scss/styles.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  text-align: center;
}


.highlight {
  position: absolute;
  font-weight: bold;
  font-size: 6rem;
  margin-left:-15.5rem;
  margin-top: -5rem;
  max-width: 300px;
  max-height: 250px;
  width: 150ch;
  height: 150ch;
  cursor: pointer;
  margin-top: 18rem;
  margin-left: 35rem;
  z-index: 1
}

.footer-container{
    font-size: .875rem;
    font-weight: 100;
    line-height: 175rem;
    letter-spacing: .16px;
    width: 100%;
    background: #000;
    color: #c6c6c6;
    position: relative;
   
    z-index: 2;
}

.footer-module-grid{
    margin-top:20rem;
    min-height: 120px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-col{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.footer-row {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;
}

.footer-module-nav{
    content: "";
    background: #393939;
    width: calc(100% - 2rem);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
}

.footer-module-item{
    display: block;
    margin: 0 0 .5rem;
    color:'white'
}